<h2>会員一覧</h2>

<table>
  <thead>
    <tr>
      <td>会員ID</td>
      <td>氏名</td>
      <td>メールアドレス</td>
      <td>ステータス</td>
    </tr>
  </thead>
  
  <tbody>
    <% @customers.each do |customer| %>
    <tr>
      <td>
        <%= customer.id %>
      </td>
      <td>
        <%= link_to admincustomer_path(customer.id) do %>
         <%= customer.last_name %><%= customer.first_name %>
        <% end %>
      </td>
      <td>
        <%= customer.email %>
      </td>
      <td>
        <!--<%= customer.is_deleted %>-->
      </td>
    </tr>
  </tbody>
</table>
