<h2>注文履歴詳細</h2>

<table>
  <tr>
    <th>購入者</th>
    <td>
      <%= link_to admin_customer_path(@order.customer) do %>
       <%= @order.customer.last_name %> <%= @order.customer.first_name %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>注文日</th>
    <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
  </tr>
  <tr>
    <th>配送先</th>
    <td><%= @order.post_code %> <%= @order.address %> <%= @order.name %></td>
  </tr>
  <tr>
    <th>支払い方法</th>
    <td><%= @order.payment_method_i18n %></td>
  </tr>
  <tr>
    <th>注文ステータス</th>
    <td>
      <%= form_with model: @order, url: admin_order_path(@order.id), local:true do |f| %>
      <%= f.select :status, Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]} %>
      <%= f.submit "更新", class: 'btn btn-secondary' %>
      <% end %>
    </td>
  </tr>
</table>

<table>
  <thead>
    <tr>
      <td>商品名</td>
      <td>単価(税込)</td>
      <td>数量</td>
      <td>小計</td>
      <td>製作ステータス</td>
    </tr>
  </thead>

  <tbody>
    <% @order.order_details.each do |order_detail| %>
    <tr>
      <td>
        <%= order_detail.product.name %>
      </td>
      <td>
        <%= order_detail.purchase_price %>
      </td>
      <td>
        <%= order_detail.amount %>
      </td>
      <td>
        <%= order_detail.sum_of_detail_price %>
      </td>
      <td>
        <%= form_with model: order_detail, url: admin_path(order_detail.id), method: :patch, local:true do |f| %>
        <%= f.select :create_status, OrderDetail.create_statuses.keys.map {|k| [I18n.t("enums.order_detail.create_status.#{k}"), k]} %>
        <%= f.hidden_field :order_id, :value => @order.id %>
        <%= f.submit "更新", class: 'btn btn-secondary' %>
        <% end %>

      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<table>
  <tr>
    <th>商品合計</th>
    <td><%= (@order.total_payment - @order.cost) %>円</td>
  </tr>
  <tr>
    <th>送料</th>
    <td><%= @order.cost %>円</td>
  </tr>
  <tr>
    <th>請求額合計</th>
    <td><%= @order.total_payment %>円</td>
  </tr>
</table>

