<main>
<div class="container">
 <div class="row">
    <div class= "col-md-11 ">
      <span style="background-color:pink"><strong>ジャンル一覧・追加</strong></span>
<table class='table table-hover table-inverse'>
  <tbody>
        <%= form_with model:@genre,url: admin_genres_path, method: :post do |f| %>
  <div class="form-group">
    <%= f.label :ジャンル名 %>
    <%= f.text_field :name, class: 'form-control name' %>
          <div><%= f.submit "新規登録", class:"btn btn-success col-5" %></div>
  </div>
  <thead>
    <tr>
      <th style="background-color:pink">ジャンル</th>
    </tr>
  </thead>
    <% end %>
    
     <div class='container px-1 px-sm-0 mt-5'>
    <div class='row'>
      <div class="col-3">
      <%= render 'index', genres: @genres %>
    </div>
   </div>
  </div>

  </tbody>
</table>
</main>


