<h2>商品一覧</h2>
<table>
	<thead>
  <tr>
	<th style="background-color:pink">商品ID</th>
	<th style="background-color:pink">商品名</th>
	<th style="background-color:pink">税抜価格</th>
	<th style="background-color:pink">ジャンル</th>
	<th style="background-color:pink">ステータス</th>
  </tr>
	</thead>
	<tbody>
  <% @products.each do |product| %>
	<tr>
		<td><%= product.id %></td>
		<td><%= link_to product.name, admin_product_path(product.id) %></td>
		<td><%= product.non_taced_price %></td>
		<td><%= product.name %></td>
				<td><% if product.is_active == true %>
			販売中
			<% else %>
			販売停止中
			<% end %>
			 <td><%= link_to 'Destroy', admin_products_path(product), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>

		</td>
	</tr>
	
  <% end %>
  
	</tbody>
</table>
