<div class="container">
  <div class="row">
    <div class="mx-auto" style="width: 500px;">
    
    <h2>商品新規登録</h2>
    <%= form_with model: @product, url: admin_products_path, method: :post, local: true do |f| %>
        <div class="col-5">
        </div>
    <tbody>
      <tr>
        <td>
          <div class="img-container">
            <%= f.file_field :image, accept: "image/*"%>
            <%#= f.hidden_field :product_image %>
            <!--画像を入れなくても情報を送ってくれる-->
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <%= f.label :商品名 %>
            <%= f.text_field :name, class:"form-control" %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <%= f.label :商品説明 %>
            <%= f.text_area :explanation, class:"form-control" %>
          </div>
        </td>
      </tr>       
      <tr>
        <td>
          <div class="form-group">
            <%= f.label :ジャンル %>
            <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <%= f.label :税抜価格 %>
            <%= f.text_field :non_taced_price, class:"form-control" %>
            円
          </div>
        </td>
      </tr>
      <tr>
       <td>
        <div class="form-group">
          <div class="form-group">
            <%= f.label :販売ステータス %>
            <%= f.label :is_active, '販売中', value: true %>
            <%= f.radio_button :is_active, true %>
            <%= f.label :is_active, '販売停止', value: false %>
            <%= f.radio_button :is_active, false %>
          </div>
         </div>
       </td>
      </tr>
      <tr>
       <td>
        <div class="form-group">
         <%= f.hidden_field :id, :value => @product.id %>
      	 <%= f.submit "新規登録", class:"btn btn-info" %>
        </div>
        </td>
      </tr>
      </tbody>
    <% end %>
</div>
</div>
</div>

