<div class="container">
  <div class="row">
    
    <h2>商品新規登録</h2>
    <%= form_with model: @product, url: admin_products_path, method: :post, local: true do |f| %>
        <div class="col-5">
        </div>
    <table class="table">
    <tbody>
       <tr>
        <div class="img-container">
        <td>
        </td>
        <%= f.file_field :product_image%>
        <%= f.hidden_field :product_image %>
       </tr>
       <div class="form-group">
        	<%= f.label :商品名 %>
        	<%= f.text_field :name, class:"form-control" %>
       </div>
       <div class="form-group">
        	<%= f.label :商品説明 %>
        	<%= f.text_area :explanation, class:"form-control" %>
       </div>
       <div class="form-group">
        	<%= f.label :ジャンル %>
        	<%= f.select :genre_id, options_for_select([['選択してください', ''], ['チョコ', '1'], ['ケーキ', '2'], ['キャンディ', '3'], ['クッキー', '4']]), {}, {class: 'mclist__select'} %>
       </div>
        <div class="form-group">
        	<%= f.label :税抜価格 %>
        	<%= f.text_field :non_taced_price, class:"form-control" %>
        	円
        </div>
        <div class="form-group">
          <div class="form-group">
            <%= f.label :販売ステータス %>
            <%= f.label :is_active, '販売中', value: true %>
            <%= f.radio_button :is_active, 'true' %>
            <%= f.label :is_active, '販売停止', value: false %>
            <%= f.radio_button :is_active, 'false' %>
          </div>
         </div>
        <div class="form-group">
         <%= f.hidden_field :id, :value => @product.id %>
      	 <%= f.submit "新規登録", class:"btn btn-success" %>
        </div>
      </tbody>
    <% end %>

</div>
</div>

