<div class="row">
	<h2>商品詳細</h2>
		<table class="table">
		  <tr>
				<th>画像</th>
				<%= image_tag @product.get_image, size: "200x200" %>
				  <!--.get_image絶対いる-->
			</tr>
			<tr>
				<th>商品名</th>
				<td><%= @product.name %></td>
			</tr>
			<tr>
				<th>商品説明</th>
				<td><%= @product.explanation %></td>
			</tr>
			<tr>
				<th>ジャンル</th>
				<td><%= @product.genre.name %></td>
			</tr>
			<!--こっから下わからんちん-->
	    <tr>
				<th>税込価格（税抜価格）</th>
				<td><%= @product.add_tax_non_taced_price.to_s(:dalimited) %>円</td>
				<td>(<%= @product.non_taced_price %>円)</td>
			</tr>
			<tr>
				<th>販売ステータス</th>
				<td>
					<% if @product.is_active == true %>
						商品販売中
					<% else %>
						商品未販売
					<% end %>
				</td>
				<th>

			</tr>
		</table>
		<div>
		<%= link_to ' 編集する', edit_admin_product_path(@product), class: "btn btn-success" %>
	    </div>
	</div>
</div>