  <div class="container">
    <div class = "row">
      <h2>注文情報確認</h2>
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
       <% @cart_products.each do |cart_product| %>
        <tr>
      　  <td><%= cart_product.product.name %></td>
      　  <td><%= cart_product.produt.purchase_pricee %></td>
      　  <td><%= cart_product.amount %></td>
      　  <td><%= cart_product.total_payment %></td>
      　  <% @total_payment + cart_product.total_payment %>
        </tr>
        <% end %>

        <tr>
          <th class="table-secondary">合計金額</th>
          <td><%= @total_payment %></td>
        </tr>
        <tr>
          <th class="table-secondary">送料</th>
          <td><%= @order.cost %></td>
        </tr>
        <tr>
          <th class="table-secondary">請求金額</th>
          <td><%= @total_payment + @order.cost %></td>
        </tr>
          <th>配送先</th>
          <td>〒<%= @order.post_code %></td>
          <td><%= @order.name %></td>
          <td><%= @order.address %></td>
          

      </tbody>
  </div>
</div>
  
  