  <div class="container">
    <div class = "col-12">
      <h2>注文情報確認</h2>
      <table class="table table-bordered col-8">
        <thead>
          <tr>
            <th class="table-primary">商品名</th>
            <th class="table-primary" >単価(税込)</th>
            <th class="table-primary" >数量</th>
            <th class="table-primary" >小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_products.each do |cart_product| %>
          <tr>
            <td><%= cart_product.product.name %></td>
            <td><%= cart_product.product.purchase_pricee %></td>
            <td><%= cart_product.amount %></td>
            <td><%= cart_product.total_payment %></td>
            <% @total_payment + cart_product.total_payment %>
          </tr>
          <% end %>
    　　　</tbody>
    　　</table>
        <table class="table table-bordered col-3"> 
          <tr>
            <th class="table-primary">商品合計</th>
            <td><%= @total_payment %></td>
          </tr>
          <tr>
            <th class="table-primary">送料</th>
            <td><%= @order.cost %></td>
          </tr>
          <tr>
            <th class="table-primary">請求金額</th>
            <td><%= @total_payment + @order.cost %></td>
          </tr>
　　　　</table>
　　　　    <tr>
　　　　      <th>配送先</th>
              <td>〒<%= @order.post_code %></td>
              <td><%= @order.name %></td>
              <td><%= @order.address %></td>
　　　　    </tr>
  </div>
</div>
  
  